<!--<h2>vf page {{window.title}}</h2>-->
<!--<p v-on:click="click"> click</p>-->
<a href="home/custom/list?viewId=136">列表页面</a>
<!--<test config="testConfig"></test>-->
<!--<input type="text" date:dateTime></input>
<input type="text" date:dateTime></input>
<input type="text" date:dateTime></input>-->

<h4 $-on:click="click">{{window.title}}click</h4>

<ul>
    <li for="(key ,val) in window.list">{{key}}:{{val}}</li>
</ul>
<!--
<layout-block loaction="head">

    <div>1</div>
    <div>2</div>
    <div>3</div>
</layout-block>-->
