
<form id="form" name="form" style="margin: 0;">
    <input type="hidden" name="ids"/>
</form>
<!--<div class="topBtn">-->
    <!--<btn-group-me data="formLayout.btnConf"></btn-group-me>-->
<!--</div>-->

<h5>{{formLayout.viewName}}</h5>
<div class="p-h-c-d" ><!--style="margin-top: 70px;"-->
    <h3 class="page-name"><i class="iconfont icon-dingdan"></i>{{formLayout.viewName}}</h3>

    {{formLayout.viewName}}

    <!--<tab-scroll config="formLayout.tabConf">-->
        <!--<container id="base">-->
            <div class="tabtitle">基本信息</div>
            <list-detail config="formLayout.configList"></list-detail>
        <!--</container>-->
    <!--</tab-scroll>-->

</div>
