.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.no-select-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pointer {
  cursor: pointer;
}
.content-center {
  text-align: center;
}
/*css3 过渡*/
/*CSS 2D 3D 转换*/
/* 设置旋转元素的基点位置 */
/**
* animation
*/
/*.keyframes (@prefix,@name,@content) when (@prefix=def) {
  @keyframes @name {
    @content();
  }
}
.keyframes (@prefix,@name,@content) when (@prefix=moz) {
  @-moz-keyframes @name {
    @content();
  }
}
.keyframes (@prefix,@name,@content) when (@prefix=o) {
  @-o-keyframes @name {
    @content();
  }
}
.keyframes (@prefix,@name,@content) when (@prefix=webkit) {
  @-webkit-keyframes  @name{
    @content();
  }
}
.keyframes (@prefix,@name,@content) when (@prefix=all) {
  .keyframes(moz,@name,@content);
  .keyframes(o,@name,@content);
  .keyframes(webkit,@name,@content);
  .keyframes(def,@name,@content);
}*/
.plugins-loading {
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  z-index: 0;
  position: absolute;
  transition: opacity 0.8s linear;
  -moz-transition: opacity 0.8s linear;
  -webkit-transition: opacity 0.8s linear;
  -o-transition: opacity 0.8s linear;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.plugins-loading.end {
  z-index: 9;
  opacity: 0;
}
.plugins-loading.close {
  opacity: 0;
  z-index: 0;
  display: none;
}
.plugins-loading > div {
  height: 6rem;
}
.plugins-loading .loader,
.plugins-loading .loader:before,
.plugins-loading .loader:after {
  background: #d1d1d2;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 0.6rem;
  height: 3rem;
}
.plugins-loading .loader:before,
.plugins-loading .loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.plugins-loading .loader:before {
  left: -1.5rem;
}
.plugins-loading .loader {
  text-indent: -9999rem;
  margin: 15% auto;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.plugins-loading .loader:after {
  left: 1.5rem;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #d1d1d2;
    height: 3rem;
  }
  40% {
    box-shadow: 0 -2rem #d1d1d2;
    height: 4rem;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #d1d1d2;
    height: 3rem;
  }
  40% {
    box-shadow: 0 -2em #d1d1d2;
    height: 4rem;
  }
}
.plugins-loading .loadin-text {
  color: #d1d1d2;
  font-size: 1.4rem;
  text-align: center;
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: "STHeitiSC-Medium","Hiragino Sans GB","Hiragino Sans GB W3",\5b8b\4f53;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
input {
  padding-left: 0.2rem;
}
input,
select,
textarea,
button {
  border-radius: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
dd {
  margin-left: 20px;
}
.page-layout {
  height: 100%;
  padding-top: 50px;
  position: relative;
  background-color: #EDF0F5;
}
.page-layout .page-head {
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 9;
  position: absolute;
}
.page-layout .page-main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.page-layout .page-main::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.page-layout .page-main::-webkit-scrollbar-track {
  background-color: #e4e8ea;
  border-radius: 10px;
}
.page-layout .page-main::-webkit-scrollbar-thumb {
  background-color: #acc1c0;
  border-radius: 10px;
}
.page-layout .page-main::-webkit-scrollbar-thumb:hover {
  background-color: #00b5a5;
  border-radius: 10px;
}
.page-layout .page-main::-webkit-scrollbar-thumb:active {
  background-color: #00AC9D;
  border-radius: 10px;
}
.page-layout .page-main::-webkit-scrollbar {
  height: 10px;
}
.list-grid {
  font-size: 14px;
  font-family: PingFangSC-Regular;
  margin-left: 5px;
  -moz-box-shadow: 1px 1px 1px #cbced1;
  /* 老的 Firefox */
  box-shadow: 1px 1px 1px #cbced1;
  width: 99%;
  background-color: #ffffff;
  border-top: 1px solid #e5ebf4;
}
.list-grid > .grid-table {
  width: 100%;
  display: flex;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left {
  display: table;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left .icon-fenlei {
  color: #c0cada;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group {
  width: 100%;
  display: table-header-group;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: table-row;
  background-color: #fcffff;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li {
  padding: 0px 12px;
  overflow: hidden;
  height: 39px;
  white-space: nowrap;
  display: table-cell;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  border-bottom: 2px solid #1a921b;
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li.asc,
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li.desc {
  cursor: pointer;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li .table-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li .table-cell p {
  left: 8px;
  position: relative;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li strong {
  font-weight: normal;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li span {
  left: 8px;
  height: 100%;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
  display: flex;
  flex-direction: column;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li span > .iconfont {
  font-size: 12px !important;
  cursor: pointer;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li span .icon-down-copy-desc,
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li span .icon-down-copy-asc {
  display: flex;
  color: #aaafb2;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li span .icon-down-copy-desc::before,
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li span .icon-down-copy-asc::before {
  height: 10px;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li.asc span .icon-down-copy-asc {
  color: #aaafb2;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li.asc span .icon-down-copy-desc {
  color: #567ed2;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li.desc span .icon-down-copy-asc {
  color: #567ed2;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-header-group > ul.grid-header-row > li.desc span .icon-down-copy-desc {
  color: #aaafb2;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-row-group {
  width: 100%;
  display: table-row-group;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-row-group > ul.grid-body-row {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: table-row;
  font-size: 14px;
  cursor: pointer;
  background: #f6f8fa;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-row-group > ul.grid-body-row:nth-child(even) {
  background: #ffffff;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-row-group > ul.grid-body-row > li {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  border-bottom: 1px solid #e5ebf4;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 12px;
  height: 42px;
  position: relative;
  /*这个是关键*/
  z-index: 2;
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-row-group > ul.grid-body-row > li:hover {
  z-index: 3;
  background: none;
  /*没有这个在IE中不可用*/
}
.list-grid > .grid-table > .grid-table-left-wrap .grid-table-left > .grid-row-group > ul.grid-body-row.row-hover {
  background-color: #e6ffd3;
}
.list-grid > .grid-table > .grid-table-right-wrap {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right {
  display: table;
  width: 100%;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right .icon-fenlei {
  color: #c0cada;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group {
  width: 100%;
  display: table-header-group;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: table-row;
  background-color: #fcffff;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li {
  padding: 0px 12px;
  overflow: hidden;
  height: 39px;
  white-space: nowrap;
  display: table-cell;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  border-bottom: 2px solid #1a921b;
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li.asc,
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li.desc {
  cursor: pointer;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li .table-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li .table-cell p {
  left: 8px;
  position: relative;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li strong {
  font-weight: normal;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li span {
  left: 8px;
  height: 100%;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
  display: flex;
  flex-direction: column;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li span > .iconfont {
  font-size: 12px !important;
  cursor: pointer;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li span .icon-down-copy-desc,
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li span .icon-down-copy-asc {
  display: flex;
  color: #aaafb2;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li span .icon-down-copy-desc::before,
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li span .icon-down-copy-asc::before {
  height: 10px;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li.asc span .icon-down-copy-asc {
  color: #aaafb2;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li.asc span .icon-down-copy-desc {
  color: #567ed2;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li.desc span .icon-down-copy-asc {
  color: #567ed2;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-header-group > ul.grid-header-row > li.desc span .icon-down-copy-desc {
  color: #aaafb2;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-row-group {
  width: 100%;
  display: table-row-group;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-row-group > ul.grid-body-row {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: table-row;
  font-size: 14px;
  cursor: pointer;
  background: #f6f8fa;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-row-group > ul.grid-body-row:nth-child(even) {
  background: #ffffff;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-row-group > ul.grid-body-row > li {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  border-bottom: 1px solid #e5ebf4;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 12px;
  height: 42px;
  position: relative;
  /*这个是关键*/
  z-index: 2;
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-row-group > ul.grid-body-row > li:hover {
  z-index: 3;
  background: none;
  /*没有这个在IE中不可用*/
}
.list-grid > .grid-table > .grid-table-right-wrap .grid-table-right > .grid-row-group > ul.grid-body-row.row-hover {
  background-color: #e6ffd3;
}
.list-grid > .grid-table > .grid-table-right-wrap::-webkit-scrollbar-track {
  background-color: #e4e8ea;
  border-radius: 10px;
}
.list-grid > .grid-table > .grid-table-right-wrap::-webkit-scrollbar-thumb {
  background-color: rgba(160, 162, 161, 0.9);
  border-radius: 10px;
}
.list-grid > .grid-table > .grid-table-right-wrap::-webkit-scrollbar-thumb:hover {
  background-color: rgba(162, 160, 158, 0.79);
  border-radius: 10px;
}
.list-grid > .grid-table > .grid-table-right-wrap::-webkit-scrollbar-thumb:active {
  background-color: rgba(84, 86, 87, 0.76);
  border-radius: 10px;
}
.list-grid > .grid-table > .grid-table-right-wrap::-webkit-scrollbar {
  height: 10px;
}
.list-grid > .grid-footer {
  width: 100%;
  padding: 10px;
  background: #ffffff;
}
.list-grid > .grid-footer > ul {
  display: flex;
  color: #A2B3CE;
  justify-content: space-between;
  font-size: 14px;
}
.list-grid > .grid-footer > ul > li strong {
  padding: 0 3px;
}
.list-grid > .grid-footer > ul > li.footer-left {
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-left,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-center,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-right {
  display: flex;
  height: 34px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #E5EBF4;
}
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-left > li,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-center > li,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-right > li {
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 36px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-left > li:active,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-center > li:active,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-right > li:active {
  background-color: #f5fbf8;
}
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-left > li.focus,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-center > li.focus,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-right > li.focus {
  color: #fff;
  background: #26B7AE;
}
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-left > li.disabled,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-center > li.disabled,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-right > li.disabled {
  color: #d2d2d2;
  pointer-events: none;
  background-color: #f3f3f3;
}
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-center > li:not(:first-child) {
  border-left: solid 1px #E5EBF4;
}
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-left li,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-right li {
  width: auto;
  padding: 0 10px;
}
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-left li i,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-right li i {
  font-size: 12px;
}
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-center,
.list-grid > .grid-footer > ul > li.footer-left .grid-paging-right {
  margin-left: 10px;
}
.list-grid > .grid-footer > ul > li.footer-left .toPage {
  padding-left: 20px;
}
.list-grid > .grid-footer > ul > li.footer-left .toPage input[name="pageNumber"] {
  width: 45px;
  height: 32px;
  font-size: 14px;
  color: #7d7d7d;
  border: 1px solid #E5EBF4;
  border-radius: 5px;
  vertical-align: middle;
  margin: 0 5px;
}
.list-grid > .grid-footer > ul > li.footer-left .toPage input[name="pageNumber"].err {
  border-color: red;
}
.list-grid > .grid-footer > ul > li.footer-left .toPage span.split {
  padding-left: 10px;
}
.list-grid > .grid-footer > ul > li.footer-left .toPage .page-search {
  margin: 0 5px;
  padding: 0 8px;
  height: 32px;
  vertical-align: middle;
  background: #26B7AE;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
}
.list-grid > .grid-footer > ul > li.footer-left .toPage .page-search i {
  color: #14983a;
  font-size: 20px;
}
.list-grid > .grid-footer > ul > li.footer-right {
  padding-right: 20px;
}
.list-grid > .grid-footer > ul > li.footer-right ul {
  display: inline-flex;
}
.list-grid > .grid-footer > ul > li.footer-right li {
  padding-left: 10px;
}
.list-grid > .grid-footer > ul > li.footer-right button {
  color: #9BADCA;
  height: 34px;
  border-radius: 5px;
  padding: 0 8px;
  background-color: white;
  border: solid 1px #E5EBF4;
}
.list-grid > .grid-footer > ul > li.footer-right button.focus {
  color: white;
  border: none;
  background-color: #26B7AE;
}
.list-grid > .grid-footer > ul > li.footer-right > span {
  padding-left: 10px;
}
.list-grid .grid-empty {
  height: 200px;
  color: #dedede;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.list-grid .grid-empty h3 {
  font-weight: 100;
}
.list-grid .grid-empty i {
  font-size: 24px;
}
.list-grid .grid-loading {
  color: #bdbbbb;
  text-align: center;
  height: 200px;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"],
input[type="radio"] {
  width: 25px;
  height: 25px;
  border: solid 1px #dedede;
  background-color: transparent;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
input[type="checkbox"]:after,
input[type="radio"]:after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '\e605';
  color: #0c8620;
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  transform: scale(0, 0) rotate3d(0, 0, 0, 0deg);
  -ms-transform: scale(0, 0) rotate3d(0, 0, 0, 0deg);
  -moz-transform: scale(0, 0) rotate3d(0, 0, 0, 0deg);
  -webkit-transform: scale(0, 0) rotate3d(0, 0, 0, 0deg);
  -o-transform: scale(0, 0) rotate3d(0, 0, 0, 0deg);
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  border: solid 0.1rem #0c8620;
}
input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after {
  transform: scale(1, 1) rotate3d(0, 0, 0, 0deg);
  -ms-transform: scale(1, 1) rotate3d(0, 0, 0, 0deg);
  -moz-transform: scale(1, 1) rotate3d(0, 0, 0, 0deg);
  -webkit-transform: scale(1, 1) rotate3d(0, 0, 0, 0deg);
  -o-transform: scale(1, 1) rotate3d(0, 0, 0, 0deg);
}
input[type="radio"] {
  border-radius: 50%;
}
input.small {
  width: 20px;
  height: 20px;
}
input.min {
  width: 16px;
  height: 16px;
}
input[type="checkbox"].input-switch {
  width: 52px;
  height: 28px;
  padding: 0;
  position: relative;
  border: 1px solid #dedede;
  background-color: #fdfdfd;
  border-radius: 14px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  box-shadow: -1px 2px 1px #f2f2f2 inset;
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
input[type="checkbox"].input-switch:after {
  top: 0;
  left: 0;
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  border-radius: 13px;
  background-color: #fff;
  box-shadow: 1px 2px 5px 0 rgba(192, 195, 191, 0.8);
  transition: left 0.3s;
  transform: scale(1, 1);
}
input[type="checkbox"].input-switch:checked {
  border-color: #64bd63;
  background-color: #64bd63;
  box-shadow: #64bd63 0 0 0 16px inset;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
input[type="checkbox"].input-switch:checked:after {
  left: 24px;
  box-shadow: -1px 2px 5px 0 rgba(42, 152, 7, 0.8);
}
.input-upload {
  height: 3rem;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.input-upload > ul {
  width: 100%;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.input-upload > ul > li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-upload > input[type="file"] {
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  height: 100%;
  position: absolute;
}
.input-upload .placeholder {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  color: #a9a9a9;
  text-align: left;
  padding-left: 0.5rem;
  position: absolute;
}
.input-upload.success .placeholder {
  display: none;
}
.upfile {
  width: 215px;
  height: 32px;
  position: relative;
  display: inline-block;
}
.upfile input {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
  opacity: 0;
}
.upfile label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  display: inline-block;
  color: #cacaca;
  line-height: 28px;
  text-align: center;
}
.upfile label span {
  display: inline-block;
  width: 80px;
  text-align: center;
  margin-right: 5px;
  border: 1px solid #cacaca;
}
.upfile label ul {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  color: black;
  display: inline-block;
}
.upfile label > i {
  vertical-align: middle;
  display: inline-block;
  color: #0c8620;
  font-size: 22px;
  opacity: 0;
  -webkit-transition: all .5s;
}
.upfile.success label ul {
  color: #0c8620;
}
.upfile.success label > i {
  opacity: 1;
}
input[type=text],
textarea {
  vertical-align: middle;
  border: 1px solid #dedede;
  height: 25px;
  line-height: 25px;
  transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: inherit;
  -moz-backface-visibility: inherit;
  -ms-backface-visibility: inherit;
  backface-visibility: inherit;
}
input[type=text]:focus,
textarea:focus {
  border-color: #0c8620;
}
/**

 @Name： laydate 核心样式
 @Author：贤心
 @Site：http://sentsin.com/layui/laydate

**/
.laydate_body .laydate_box,
.laydate_body .laydate_box * {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.laydate-icon,
.laydate-icon-default,
.laydate-icon-danlan,
.laydate-icon-dahong,
.laydate-icon-molv {
  height: 22px;
  line-height: 22px;
  padding-right: 20px;
  border: 1px solid #C6C6C6;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #fff;
  outline: 0;
}
.laydate_body .laydate_box {
  width: 240px;
  font: 12px '\5B8B\4F53';
  z-index: 99999999;
  *margin: -2px 0 0 -2px;
  *overflow: hidden;
  _margin: 0;
  _position: absolute !important;
  background-color: #fff;
}
.laydate_body .laydate_box li {
  list-style: none;
}
.laydate_body .laydate_box .laydate_void {
  cursor: text !important;
}
.laydate_body .laydate_box a,
.laydate_body .laydate_box a:hover {
  text-decoration: none;
  blr: 'expression(this.onFocus=this.blur())';
  cursor: pointer;
}
.laydate_body .laydate_box a:hover {
  text-decoration: none;
}
.laydate_body .laydate_box cite,
.laydate_body .laydate_box label {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: dashed;
  border-color: transparent;
  overflow: hidden;
  cursor: pointer;
}
.laydate_body .laydate_box .laydate_yms,
.laydate_body .laydate_box .laydate_time {
  display: none;
}
.laydate_body .laydate_box .laydate_show {
  display: block;
}
.laydate_body .laydate_box input {
  outline: 0;
  font-size: 14px;
  background-color: #fff;
}
.laydate_body .laydate_top {
  position: relative;
  height: 26px;
  padding: 5px;
  *width: 100%;
  z-index: 99;
}
.laydate_body .laydate_ym {
  position: relative;
  float: left;
  height: 24px;
  cursor: pointer;
}
.laydate_body .laydate_ym input {
  float: left;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.laydate_body .laydate_ym .laydate_yms {
  position: absolute;
  left: -1px;
  top: 24px;
  height: 181px;
}
.laydate_body .laydate_y {
  width: 121px;
  margin-right: 6px;
}
.laydate_body .laydate_y input {
  width: 64px;
  margin-right: 15px;
}
.laydate_body .laydate_y .laydate_yms {
  width: 121px;
  text-align: center;
}
.laydate_body .laydate_y .laydate_yms a {
  position: relative;
  display: block;
  height: 20px;
}
.laydate_body .laydate_y .laydate_yms ul {
  height: 139px;
  padding: 0;
  *overflow: hidden;
}
.laydate_body .laydate_y .laydate_yms ul li {
  float: left;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.laydate_body .laydate_m {
  width: 99px;
}
.laydate_body .laydate_m .laydate_yms {
  width: 99px;
  padding: 0;
}
.laydate_body .laydate_m input {
  width: 42px;
  margin-right: 15px;
}
.laydate_body .laydate_m .laydate_yms span {
  display: block;
  float: left;
  width: 42px;
  margin: 5px 0 0 5px;
  line-height: 24px;
  text-align: center;
  _display: inline;
}
.laydate_body .laydate_choose {
  display: block;
  float: left;
  position: relative;
  width: 20px;
  height: 24px;
}
.laydate_body .laydate_choose cite,
.laydate_body .laydate_tab cite {
  left: 50%;
  top: 50%;
}
.laydate_body .laydate_chtop cite {
  margin: -7px 0 0 -5px;
  border-bottom-style: solid;
}
.laydate_body .laydate_chdown cite,
.laydate_body .laydate_ym label {
  top: 50%;
  margin: -2px 0 0 -5px;
  border-top-style: solid;
}
.laydate_body .laydate_chprev cite {
  margin: -5px 0 0 -7px;
}
.laydate_body .laydate_chnext cite {
  margin: -5px 0 0 -2px;
}
.laydate_body .laydate_ym label {
  right: 28px;
}
.laydate_body .laydate_table {
  width: 230px;
  margin: 0 5px;
  border-collapse: collapse;
  border-spacing: 0px;
}
.laydate_body .laydate_table td {
  width: 31px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}
.laydate_body .laydate_table thead {
  height: 22px;
  line-height: 22px;
}
.laydate_body .laydate_table thead th {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.laydate_body .laydate_bottom {
  position: relative;
  height: 22px;
  line-height: 20px;
  padding: 5px;
  font-size: 12px;
}
.laydate_body .laydate_bottom #laydate_hms {
  position: relative;
  z-index: 1;
  float: left;
}
.laydate_body .laydate_time {
  position: absolute;
  left: 5px;
  bottom: 26px;
  width: 129px;
  height: 125px;
  *overflow: hidden;
}
.laydate_body .laydate_time .laydate_hmsno {
  padding: 5px 0 0 5px;
}
.laydate_body .laydate_time .laydate_hmsno span {
  display: block;
  float: left;
  width: 24px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  *margin-bottom: -5px;
}
.laydate_body .laydate_time1 {
  width: 228px;
  height: 154px;
}
.laydate_body .laydate_time1 .laydate_hmsno {
  padding: 6px 0 0 8px;
}
.laydate_body .laydate_time1 .laydate_hmsno span {
  width: 21px;
  height: 20px;
  line-height: 20px;
}
.laydate_body .laydate_msg {
  left: 49px;
  bottom: 67px;
  width: 141px;
  height: auto;
  overflow: hidden;
}
.laydate_body .laydate_msg p {
  padding: 5px 10px;
}
.laydate_body .laydate_bottom li {
  float: left;
  height: 20px;
  line-height: 20px;
  border-right: none;
  font-weight: 900;
}
.laydate_body .laydate_bottom .laydate_sj {
  width: 33px;
  text-align: center;
  font-weight: 400;
}
.laydate_body .laydate_bottom input {
  float: left;
  width: 21px;
  height: 20px;
  line-height: 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}
.laydate_body .laydate_bottom .laydte_hsmtex {
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.laydate_body .laydate_bottom .laydte_hsmtex span {
  position: absolute;
  width: 20px;
  top: 0;
  right: 0px;
  cursor: pointer;
}
.laydate_body .laydate_bottom .laydte_hsmtex span:hover {
  font-size: 14px;
}
.laydate_body .laydate_bottom .laydate_btn {
  position: absolute;
  right: 5px;
  top: 5px;
}
.laydate_body .laydate_bottom .laydate_btn a {
  float: left;
  height: 20px;
  padding: 0 6px;
  _padding: 0 5px;
}
.laydate_body .laydate_bottom .laydate_v {
  position: absolute;
  left: 10px;
  top: 6px;
  font-family: Courier;
  z-index: 0;
}
/**

 @Name： laydate皮肤：默认
 @Author：贤心
 @Site：http://sentsin.com/layui/laydate

**/
.laydate-icon {
  border: 1px solid #C6C6C6;
  background-image: url(icon.png);
}
.laydate_body .laydate_box,
.laydate_body .laydate_ym,
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_table,
.laydate_body .laydate_table td,
.laydate_body .laydate_bottom #laydate_hms,
.laydate_body .laydate_time,
.laydate_body .laydate_bottom .laydate_btn a {
  border: 1px solid #ccc;
}
.laydate_body .laydate_y .laydate_yms a,
.laydate_body .laydate_choose,
.laydate_body .laydate_table thead,
.laydate_body .laydate_bottom .laydte_hsmtex {
  background-color: #F6F6F6;
}
.laydate_body .laydate_box,
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_time {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.laydate_body .laydate_box {
  border-top: none;
  border-bottom: none;
  background-color: #fff;
  color: #333;
}
.laydate_body .laydate_box input {
  color: #333;
}
.laydate_body .laydate_box .laydate_void {
  color: #ccc!important;
  /*text-decoration:line-through;*/
}
.laydate_body .laydate_box .laydate_void:hover {
  background-color: #ffffff !important;
}
.laydate_body .laydate_box a,
.laydate_body .laydate_box a:hover {
  color: #333;
}
.laydate_body .laydate_box a:hover {
  color: #666;
}
.laydate_body .laydate_click {
  background-color: #eee!important;
}
.laydate_body .laydate_top {
  border-top: 1px solid #C6C6C6;
}
.laydate_body .laydate_ym .laydate_yms {
  border: 1px solid #C6C6C6;
  background-color: #fff;
}
.laydate_body .laydate_y .laydate_yms a {
  border-bottom: 1px solid #C6C6C6;
}
.laydate_body .laydate_y .laydate_yms .laydate_chdown {
  border-top: 1px solid #C6C6C6;
  border-bottom: none;
}
.laydate_body .laydate_choose {
  border-left: 1px solid #C6C6C6;
}
.laydate_body .laydate_chprev {
  border-left: none;
  border-right: 1px solid #C6C6C6;
}
.laydate_body .laydate_choose:hover,
.laydate_body .laydate_y .laydate_yms a:hover {
  background-color: #fff;
}
.laydate_body .laydate_chtop cite {
  border-bottom-color: #666;
}
.laydate_body .laydate_chdown cite,
.laydate_body .laydate_ym label {
  border-top-color: #666;
}
.laydate_body .laydate_chprev cite {
  border-right-style: solid;
  border-right-color: #666;
}
.laydate_body .laydate_chnext cite {
  border-left-style: solid;
  border-left-color: #666;
}
.laydate_body .laydate_table td {
  border: none;
  height: 21px!important;
  line-height: 21px!important;
  background-color: #fff;
}
.laydate_body .laydate_table .laydate_nothis {
  color: #999;
}
.laydate_body .laydate_table thead {
  height: 21px!important;
  line-height: 21px!important;
}
.laydate_body .laydate_table thead th {
  border-bottom: 1px solid #ccc;
}
.laydate_body .laydate_bottom {
  border-bottom: 1px solid #C6C6C6;
}
.laydate_body .laydate_bottom #laydate_hms {
  background-color: #fff;
}
.laydate_body .laydate_time {
  background-color: #fff;
}
.laydate_body .laydate_bottom .laydate_sj {
  border-right: 1px solid #C6C6C6;
  background-color: #F6F6F6;
}
.laydate_body .laydate_bottom input {
  background-color: #fff;
}
.laydate_body .laydate_bottom .laydte_hsmtex {
  border-bottom: 1px solid #C6C6C6;
}
.laydate_body .laydate_bottom .laydate_btn {
  border-right: 1px solid #C6C6C6;
}
.laydate_body .laydate_bottom .laydate_v {
  color: #999999;
}
.laydate_body .laydate_bottom .laydate_btn a {
  border-right: none;
  background-color: #F6F6F6;
}
.laydate_body .laydate_bottom .laydate_btn a:hover {
  color: #000;
  background-color: #fff;
}
.laydate_body .laydate_m .laydate_yms span:hover,
.laydate_body .laydate_y .laydate_yms ul li:hover,
.laydate_body .laydate_table td:hover,
.laydate_body .laydate_time .laydate_hmsno span:hover {
  background-color: #f3f3f3;
}
.app-nav {
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  background-color: #2f3748;
}
.app-nav .nav-befor,
.app-nav .nav-after,
.app-nav .nav-befor > ul,
.app-nav .nav-after > ul,
.app-nav .nav-befor > ul > li,
.app-nav .nav-after > ul > li {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
}
.app-nav .nav-befor > ul > li,
.app-nav .nav-after > ul > li {
  cursor: pointer;
  font-size: 14px;
  position: relative;
  min-width: 50px;
  text-align: center;
  justify-content: center;
}
.app-nav .nav-befor > ul > li:after,
.app-nav .nav-after > ul > li:after,
.app-nav .nav-befor > ul > li:before,
.app-nav .nav-after > ul > li:before {
  right: 1px;
  content: "";
  height: 20px;
  position: absolute;
  border-right: solid 1px #21252d;
}
.app-nav .nav-befor > ul > li:before,
.app-nav .nav-after > ul > li:before {
  right: 0;
  border-right: solid 1px #394457;
}
.app-nav .nav-befor > ul > li:hover,
.app-nav .nav-after > ul > li:hover {
  background-color: #394457;
}
.app-nav .nav-befor > ul > li:hover:after,
.app-nav .nav-after > ul > li:hover:after,
.app-nav .nav-befor > ul > li:hover:before,
.app-nav .nav-after > ul > li:hover:before {
  border-color: transparent;
}
.app-nav .nav-befor > ul > li:hover,
.app-nav .nav-after > ul > li:hover,
.app-nav .nav-befor > ul > li:hover > a,
.app-nav .nav-after > ul > li:hover > a {
  color: white;
}
.app-nav .nav-befor > ul > li:last-child:after,
.app-nav .nav-after > ul > li:last-child:after,
.app-nav .nav-befor > ul > li:last-child:before,
.app-nav .nav-after > ul > li:last-child:before {
  border-color: transparent;
}
.app-nav .nav-befor > ul > li .nav-menu,
.app-nav .nav-after > ul > li .nav-menu {
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  position: absolute;
  background: white;
  box-shadow: 1px 1px 5px 1px #ececec;
}
.app-nav .nav-befor > ul > li .nav-menu li,
.app-nav .nav-after > ul > li .nav-menu li {
  color: #444444;
  padding: 5px 0px;
}
.app-nav .nav-befor > ul > li .nav-menu li a,
.app-nav .nav-after > ul > li .nav-menu li a {
  color: #444444;
}
.app-nav .nav-befor > ul > li .nav-menu li:hover,
.app-nav .nav-after > ul > li .nav-menu li:hover {
  background-color: #f4f7c7;
}
.app-nav .nav-befor > ul > li .nav-menu li a,
.app-nav .nav-after > ul > li .nav-menu li a {
  color: #444444;
}
.app-nav .nav-befor > ul > li:hover .nav-menu,
.app-nav .nav-after > ul > li:hover .nav-menu {
  display: block;
}
.app-nav .nav-befor > ul > li:hover .nav-menu li a,
.app-nav .nav-after > ul > li:hover .nav-menu li a {
  color: #444444;
}
.app-nav .nav-befor {
  flex: 1;
}
.app-nav .nav-befor > ul > li {
  color: #d6ccb9;
  padding: 0 20px;
}
.app-nav .nav-befor > ul > li:nth-child(2),
.app-nav .nav-befor > ul > li:nth-child(3) {
  padding: 0;
  background-color: #394457;
}
.app-nav .nav-befor > ul > li:nth-child(2) > .iconfont,
.app-nav .nav-befor > ul > li:nth-child(3) > .iconfont,
.app-nav .nav-befor > ul > li:nth-child(2) > * > .iconfont,
.app-nav .nav-befor > ul > li:nth-child(3) > * > .iconfont {
  color: #c79631;
  color: #ffffff;
  font-size: 20px;
  transition: font-size 0.1s, color 0.6s;
  -moz-transition: font-size 0.1s, color 0.6s;
  -webkit-transition: font-size 0.1s, color 0.6s;
  -o-transition: font-size 0.1s, color 0.6s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.app-nav .nav-befor > ul > li:nth-child(2):hover,
.app-nav .nav-befor > ul > li:nth-child(3):hover {
  background-color: #45536b;
}
.app-nav .nav-befor > ul > li:nth-child(2):hover > .iconfont,
.app-nav .nav-befor > ul > li:nth-child(3):hover > .iconfont,
.app-nav .nav-befor > ul > li:nth-child(2):hover > * > .iconfont,
.app-nav .nav-befor > ul > li:nth-child(3):hover > * > .iconfont {
  color: white;
  font-size: 24px;
}
.app-nav .nav-befor > ul > li:nth-child(1) {
  padding: 0 20px;
  background-color: #394457;
}
.app-nav .nav-befor > ul > li:nth-child(1):after,
.app-nav .nav-befor > ul > li:nth-child(1):before {
  top: 0;
  height: 100%;
}
.app-nav .nav-befor > ul > li:nth-child(1):after {
  border-color: #475369;
}
.app-nav .nav-befor > ul > li:nth-child(1):before {
  border-color: #383942;
}
.app-nav .nav-befor > ul > li:nth-child(1):hover {
  background-color: #45536b;
}
.app-nav .nav-befor > ul > li:nth-child(1) a {
  color: #c1a632;
}
.app-nav .nav-befor > ul > li:first-child {
  padding: 0 10px;
}
.app-nav .nav-befor > ul > li:nth-child(2):after,
.app-nav .nav-befor > ul > li:nth-child(2):before {
  top: 0;
  height: 100%;
  border-right: solid 1px #383942;
}
.app-nav .nav-befor > ul > li:nth-child(2):before {
  border-right: solid 1px #475369;
}
.app-nav .nav-befor > ul > li:nth-child(3):after,
.app-nav .nav-befor > ul > li:nth-child(3):before {
  top: 0;
  height: 100%;
  border-color: #1e304e;
}
.app-nav .nav-befor > ul > li:nth-child(3):before {
  top: 0;
  height: 100%;
  border-color: #464c56;
}
.app-nav .nav-befor > ul > li:nth-child(3):hover {
  /*&:after,&:before{
            border-color:#5f5d5d;
          }
          &:after{
            border-color:#5f5d5d;
          }
          &:before{
             border-color:#5f5d5d;
           }*/
}
.app-nav .nav-befor > ul > li a {
  color: #f5f4f4;
  display: flex;
  justify-content: center;
}
.app-nav .nav-after > ul > li {
  padding: 0 15px;
}
.app-nav .nav-after > ul > li,
.app-nav .nav-after > ul > li > a {
  color: #a5a5a5;
}
.app-nav .nav-after > ul > li > .iconfont,
.app-nav .nav-after > ul > li > a > .iconfont {
  font-size: 20px;
}
.app-menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-menu:hover .app-menu-content {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.app-menu:hover .app-menu-content > li > a {
  color: #5b5b5b;
}
.app-menu a {
  color: #5b5b5b;
}
.app-menu-content {
  left: 0;
  top: 100%;
  z-index: 99;
  padding: 20px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  cursor: initial;
  position: absolute;
  transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  border: solid 1px #e8e7e7;
  background-color: white;
  transform-origin: 0 0;
  -moz-column-gap: 20px;
  /* Firefox */
  -webkit-column-gap: 20px;
  /* Safari and Chrome */
  column-gap: 20px;
  transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.app-menu-content.loading {
  height: 75px;
  width: 100px;
  font-size: 20px;
  color: #d6d5d5;
}
.app-menu-content.loading p {
  font-size: 12px;
}
.app-menu-content > li {
  width: 190px;
  color: #535353;
  text-align: left;
}
.app-menu-content > li > a {
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  padding-left: 10px;
  background-color: #f9fdf8;
  border: solid 1px #f0f9f3;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.app-menu-content > li > a:before {
  left: -5px;
  content: '';
  height: 10px;
  display: inline-block;
  position: relative;
  border-left: dotted 2px #bbd6b6;
}
.app-menu-content > li > a span {
  color: #4a5f90;
}
.app-menu-content > li > a:hover {
  background-color: #fffac3;
}
.app-menu-content > li > a:hover:before {
  border-left: dotted 2px #e2b28a;
}
.app-menu-content > li > a:hover span {
  color: #dc9241;
}
.app-menu-group-content li {
  height: 33px;
  color: #6e6e6e;
  padding-left: 14px;
}
.app-menu-group-content li:hover {
  background-color: #eae8cb;
}
.app-menu-group-content a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.app-menu-group-content a > span {
  padding-left: 4px;
  color: #5b5b5b;
}
.app-location {
  font-size: 14px;
  vertical-align: middle;
  background-color: #f7f7f7;
  border-bottom: solid 1px #e4e4e4;
  box-shadow: 1px 1px 1px #ececec;
}
.app-location strong {
  color: #939496;
  font-weight: 600;
  vertical-align: middle;
}
.app-location p {
  color: #c5c5c5;
  display: inline-block;
  vertical-align: middle;
}
.app-location > a {
  height: 100%;
  padding: 5px 0 5px 5px;
  color: #af8b6a;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.app-location > a:not(:last-child) {
  cursor: pointer;
}
.app-location > a:not(:last-child):after {
  color: #d8d8d8;
  content: "/";
  font-size: 20px;
  padding-right: 5px;
  padding-left: 10px;
  vertical-align: middle;
}
.app-location > a:not(:last-child):hover > span {
  color: #de7803;
}
.app-location > a:not(:last-child):hover ul {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.app-location > a:last-child {
  color: #949494;
}
.app-location ul {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  left: 0;
  top: 100%;
  min-width: 100px;
  position: absolute;
  border: solid 1px #e6e6e6;
  background-color: #f7f7f7;
  border-top: none;
  transform-origin: 0 0;
  transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.app-location li {
  color: #90a06e;
  padding: 5px;
}
.app-location li:hover {
  color: #bd70ce;
  text-shadow: 1px 1px 1px #f7f7f7;
}
